# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Hoc Tap\ALL JAVA\SOF203 - Java  3\L2\Bai Tap\Lab\Lab 1-2-3-4 ( Kiem tra )\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
